#header {
    display: flex;
    background-color: #f4f4f4;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;

    /* padding: 10px; */
}

.linksheader {
    text-decoration: none;
    color: #000;
    padding: 25px;
}

#linksdiv {
    padding: 25px;
    align-self: center;
}

#logodivheader {
    display: flex;
    justify-content: center;
}

#logoeventheader {
    width: 50%;
}

#logarheader {
    padding: 10px;
    background-color: #B51D44;
    border-radius: 5px;
    color: #fff;
    margin-left: 100px;
}